<body>
<form action="" method="post">
  <div class="imgcontainer">
    <img src="avatar.png" alt="Avatar" class="avatar">
  </div>

  <div class="container">
    <label for="uname"><b>Username</b></label>
    <input type="text" placeholder="Enter Username" name="uname" required>

    <label for="psw"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="psw" required>

    <button type="submit">Login</button>
    <label>
      <input type="checkbox" checked="checked" name="remember"> Remember me
    </label>
  </div>

  <div class="container" style="background-color:#f1f1f1">
    <button type="button" class="cancelbtn">Cancel</button>
    <span class="psw">Forgot <a href="#">password?</a></span>
  </div>
</form>
<div>
Lorem ipsum dolor sit amet consectetur, adipisicing elit. Perferendis dolor repudiandae, quasi assumenda aut natus excepturi est magnam maiores voluptates necessitatibus debitis quia consequuntur aperiam doloribus facere perspiciatis error numquam.
Lorem ipsum dolor sit, amet consectetur adipisicing elit. Omnis molestiae illum ipsa cupiditate laudantium esse cumque asperiores minima. Harum voluptates velit minima corporis quo eius qui officiis similique fugiat hic.
Alias aspernatur officia sit itaque incidunt voluptate ratione, repellendus similique rerum adipisci modi aut fuga pariatur optio quia neque hic aliquid suscipit doloremque accusamus. Deleniti, magni. Quos aliquam consequuntur quam.
Numquam inventore, nam ullam vel veritatis aut earum laboriosam ad accusantium provident temporibus ex recusandae vero ut magni at optio consequuntur quod sapiente neque similique. Omnis adipisci saepe quos labore.
Suscipit obcaecati soluta deleniti architecto velit? Vel dolorem nam odit, cupiditate accusantium atque itaque neque distinctio ipsa autem. Omnis, magni dolores eos id accusamus sequi sapiente velit veniam accusantium cupiditate.
Non a tempora, cupiditate quidem placeat eveniet harum rem amet doloribus natus officiis, expedita aspernatur suscipit incidunt dolore quos adipisci iure aliquid, illo excepturi voluptatibus iusto animi omnis temporibus! Illo.
Sint minus error, dolor ipsa, libero a aperiam in assumenda porro quas ab quibusdam ipsam eaque. Beatae veritatis eligendi, sequi animi reiciendis error sit perferendis, omnis iure, exercitationem quidem fugit!
Molestias velit, laboriosam sequi amet consequuntur a minima nihil doloremque cum facilis, ad dolorem iure fuga dolorum perspiciatis qui praesentium recusandae modi neque. Facere odit sit sequi aperiam dolorum ab.
Provident, minima quos nulla commodi ratione laborum similique sunt nam cum, eum ipsa nobis corporis, consectetur eius. Neque tempora at sapiente. Assumenda dignissimos inventore reiciendis. Nulla maxime qui mollitia beatae?
Commodi aliquid, excepturi dolorem nobis esse quidem repudiandae quam. Molestias, fugit voluptatem blanditiis ducimus aut cum cupiditate non deleniti suscipit consequuntur et error dolorem. Possimus minima placeat rerum consequuntur excepturi?
Eaque, in velit? Ex voluptatibus saepe inventore reiciendis aliquam expedita ipsum illum sit minus, in eaque omnis repudiandae dolores, commodi fugit quidem eius repellendus quaerat, facere unde exercitationem enim totam!


</div>
</body>