<body>


<div class="ui-widget-shadow ui-corner-all" style="width: 362px; height: 252px; position: absolute; left:50%; top:50%; margin-top: -126px; margin-left:-181px; "></div>
<div style="position: absolute; width: 360px; height: 250px; top:50%; left:50%; margin-left:-173px; margin-top:-118px;" class="ui-widget ui-widget-content ui-corner-all" >
    <div class="ui-dialog-content ui-widget-content" style="background: none; border: 0; ">
        <form action=" " method="post">
        <mat-card>
                <mat-card-title>TRAMOS</mat-card-title>
                <mat-card-content>
            <div  style="height: 161px; padding-top: 15px;  padding-left: 29px; padding-bottom: 0px;">
                <div >
                    <label for="username">Username:</label>
                    <div >
                        <input type="text" id="username" name="_username" value="" style="width:292px;">
                    </div>
                </div>
                <div style="bottom: 0px; border: 0; height:50px;">
                    <label for="password">Password:</label>
                    <div >
                        <input type="password" id="password" name="_password" style="width:292px;">
                    </div>
                </div>
               
            </div>
        </mat-card-content>
       
            <div  style="bottom: 0px; border: 0; height:50px;">
                    <button id="button" style="background-color: #305B96; padding-top: 8px" >Login</button>
            </div>
       
        </mat-card>
        </form>
    </div>
</div>


</body>